.form-title {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
  margin-bottom: 37px;
}
.ivitation-button {
  background-color: #156064 !important;
  border: navajowhite;
  padding: 5px 30px;
  border-radius: 7px;
  color: #fff;
}
