.table-container {
  padding: 40px 100px;
  width: 100%;
  box-sizing: border-box;
}
.btn-primary {
  margin-right: 10px;
}

.listCard {
  pointer-events: none;
}

.listTitle {
  pointer-events: none;
  color: #156064;
}

.titleList {
  font-size: xx-large;
}
.subTitle {
  font-size: x-large;
}
