.card-container {
  background-color: #fff;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 0 9px 0 hsla(0, 3%, 77%, 0.737);
  display: flex;
  margin: 1vw;
  flex-direction: column;
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
}

.card-container:hover {
  box-shadow: 0 0 9px 0 hsla(240, 0%, 52%, 0.737);
}

.card-img {
  max-width: fit-content;
  max-height: fit-content;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  margin-bottom: 9px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.15);
}
/* 
.card-container {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto; ADD
  display: flex; /* ADD */
/* flex-direction: column; ADD
  position: relative; 
} */

.card-list {
  display: flex;
  flex-direction: row;
}

.card-body {
  margin-bottom: 36px;
  font-size: 1rem%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  max-height: 70px; /*  line-clamp shows ... after 3rd line but shows 4th line, fixed heigth to show correctly, not scalable.*/
}
