.navbar {
  display: flex;
  background-color: #c97c5d;
  width: 100%;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
  padding-left: 10px;
  background-color: #c97c5d;
}
.menu li {
  list-style: none;
  padding-right: 33px;
}
.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 42px;
  padding-bottom: 3px;
  font-weight: bold;
}
.menu a:hover {
  border-bottom: 2px solid rgba(248, 243, 243, 0.2);
}
.mobail-nav {
  display: none;
}
.show {
  display: flex;
}
.heid {
  display: none;
}

@media only screen and (max-width: 700px) {
  .navbar {
    justify-content: flex-start;
    padding-left: 10px;
  }
  .mobail-nav {
    display: flex;
  }
  .btn-mobile {
    display: flex;
    justify-content: flex-start;
  }
  .menu {
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    top: 53px;
    width: 300px;
    left: 0px;
  }
}
