a {
  text-decoration: none !important;
}
.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1360px;
  padding: 20px 0px;
  color: #156064;
}
.admin-title {
  width: 100%;
}
.admin-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  box-sizing: border-box;
}
.box-admin-item {
  width: 30%;
  margin-bottom: 35px;
}
.admin-item-icon {
  font-size: 32px;
  margin-right: 10px;
}
.admin-item-title {
  color: #156064;
  font-size: 20px;
}
.admin-item-body {
  background-color: #ebbb9d;
  border-radius: 25px;
  height: 300px;
}
.admin-item-body-imag {
  background-color: #ccc;
  width: 100%;
  height: 181px;
}
.admin-item-body-bottem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-detail {
  border: 1px solid #156064;
}
.btn-detail a {
  color: #156064;
}
@media only screen and (max-width: 1232px) {
  .admin-container {
    width: 100%;
  }
  .admin-item-title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .box-admin-item {
    width: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .box-admin-item {
    width: 80%;
  }
}
