.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c97c5d;
  width: 100%;
  color: #fff;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 20px 0px;
}
.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  text-align: left;
}
.more-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}
.more-info ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.more-info li {
  list-style: none;
  padding-right: 22px;
}
.email-link,
.more-info a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  padding-bottom: 3px;
  font-weight: bold;
  text-decoration: none;
}
.email-link {
  margin-left: 10px;
}
.info-right li {
  padding-right: 0px;
  padding-left: 19px;
}
.info-right a {
  font-size: 30px;
}

@media only screen and (max-width: 700px) {
  .footer-container {
    width: 100%;
    padding: 20px 10px;
  }
  .info-right li {
    padding-left: 12px;
  }
  .info-left li {
    padding-right: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .info-left {
    font-size: 12px;
    padding-right: 9px;
  }
}

/* .logo-container {
  display: flex;
  flex-direction: row-reverse;
}
*/
/* .logo-footer {
  display: block;
  height: 35%;
  width: 35%;
  padding-bottom: 35px;
  margin-left: 500px;
}

@media only screen and (max-width: 700px) {
  .logo-footer {
    height: 35%;
    width: 35%;
  }
} */
