.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.dashboard__container {
  display: flex;
  background-color: #c7f2a7;
  align-items: center;
  width: 100%;
  padding-left: 30px;
}

.dashboard__container img {
  width: 300px;
  height: auto;
  margin: auto;
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: #156064;
}
.user-name {
  margin-left: 10px;
  margin-right: 10px;
}
