.carousel {
  margin-top: 4em;
  margin-bottom: 4em;
}

.carousel-inner {
  min-height: 500px;
}
.carousel-item {
  min-height: 300px;
}

.carousel-control.left {
  margin-left: -25px;
}

.carousel-control.right {
  margin-right: -50px;
}

.carousel-control-next > a {
  size: 5px;
  margin-top: 15px;
  height: 20px;
}

.visually-hidden {
  display: null;
}

.carousel-indicators {
  position: static !important;
}

.card-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* REARRANGING PREV / NEXT CONTROLS */

.carousel-control-prev {
  /* position: absolute; */
  position: static !important;
  display: inline !important;
}

.carousel-control-next {
  /* position: absolute; */
  position: static !important;
  display: inline !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 4rem !important;
  height: 4rem !important;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  margin-top: 5vh;
}
