.carousel {
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* .carousel-control-next {
  position: static !important;
  top: 50%;
  right: -50%;
  top: 20%;
}

.carousel-control-prev > span {
  position: static !important;
  top: 20%;
  left: -50%;
} */

[role="button"] {
  size: 5px;
  margin-top: 25px;
  height: 50px;
}

/* a.carousel-control-next {
  left: 100%;
}

a.carousel-control-prev {
  left: -15%;
} */

.carousel-control.left {
  margin-left: -25px;
}

.carousel-control.right {
  margin-right: -50px;
}

.carousel-control-next > a {
  size: 5px;
  margin-top: 15px;
  height: 20px;
}

.visually-hidden {
  display: null;
}

.carousel-indicators {
  position: static !important;
}

.card-list {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
