@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Overpass+Mono:wght@300&family=Overpass:wght@100&display=swap");

.create {
  margin: 5px;
  border: 10px;
  border-style: solid;
  border-color: #156064;
}

.title {
  margin: 0;
  color: #156064;
  font-family: Lexend Deca Regular, 32;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  max-width: 98%;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

#button {
  /*   width: 60%; */
  border-radius: 0.6em;
  margin: 1em;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

#oneCard {
  color: #222;
  margin-top: 1em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  pointer-events: none;
}

#font {
  font: Overpass, 18;
  font-family: Overpass, 18;
}
